.connection{
    font-family: 'Montserrat', sans-serif;
}
.connection__h2{
    padding-top:57px;
    padding-left:30%;
    font-size: 54px;
}
.connection__container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 60px 188px;
    row-gap: 30px;
    -moz-column-gap: 50px;
    column-gap: 20px;
    font-size: 20px;
  }
  .connection__form1 {
    padding-left: 30px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #004D61;
    background: white;
  }
  .connection__form2 {
    padding-left: 30px;
    grid-column: 1/2;
    border-width: 2px;
    border-color: #004D61;
    border-radius: 10px;
    background: white;
  }
  .connection__form3 {
    padding-left: 30px;
    grid-column: 1/2;
    border-radius: 10px;
    border-width: 2px;
    border-color: #004D61;
    background: white;
  }
  .connection__form4 {
    padding-left: 30px;
    grid-column: 1/2;
    border-width: 2px;
    border-color: #004D61; 
    border-radius: 10px;
    background: white;
  }
  .connection__formimage {
    width: 700px;
    grid-column: 2/3;
    grid-row: 1/5;
  }
  .connection__button{
    margin-top: 2%;
    margin-left:100px;
    width:250px;
    height:60px;
    color:white;
    font-size: 24px;
    font-weight: 600;
    border-width: 0px;
    border-radius: 12px;
    background:#004D61
    linear-gradient(-45deg, transparent calc(100%/3), rgba(244, 242, 242, 0.5), transparent calc(200%/3)) 
    bottom right/350% 100% no-repeat;
    transition: 0.5s linear;
    cursor:pointer;
    text-align:center;
}
.connection__button:hover{
    background-position: bottom left;
  }

.connection__container2{
    display:grid;
    grid-template-columns: 26vw 3vw 10vw;
    grid-template-rows: 60px;

}
.connection__checkbox{
    width: 16px;  
    margin-left: 10px;  
    margin-top: 10px;
}
.connection__checkboxtext{
    font-size: 12px;
    color:#8d8d8d;
}